# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Swap files
.*swp
*.npy

# Checkpoints
.ipynb_checkpoints
checkpoint
ckpt/*/*.*
ignore/

# compressed files
*.tar.gz

*.pyc
object_detection/**/*.pyc
object_detection/*.ipynb

#Mac
object_detection/pythonw
.DS_STORE

#inference graphs
object_detection/ssd_inception_v2_coco_11_06_2017/
object_detection/object_detection/model_to_use/frozen_inference_graph.pb

#Stuffs from training
classify_note/bottlenecks/
classify_note/data_set/
classify_note/training_summaries/
classify_note/retrain.py
classify_person/bottlenecks/
classify_person/data_set/
classify_person/training_summaries/
classify_person/retrain.py
oculusenv/
faster_rcnn_nas_coco_2018_01_28/
faster_rcnn_resnet101_coco_2018_01_28
classify_note/retrained_graph.pb
classify_note/retrained_labels.txt
classify_person/retrained_graph.pb
classify_person/retrained_labels.txt

bazel*
im2txt/model

# Ingnore the text file
output.txt
